.orlike {
    color: rgba(255, 255, 255);
    font-size: 26px!important;
    line-height: 2;
    text-shadow: 5px 5px 5px #2ed0d9fc;
}
[data-theme=dark]
.orlike {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 4px 4px 4px #23a8af99;
}
.orlike:first-child{
    margin-right: 36px;
}
.orlike span {
    margin-left: 0.3rem;
}
.orlike-box{
    margin: 15px 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 52px;
}
.orlike:hover{
    color: #f07e7e!important;
}
[data-theme=dark]
.orlike:hover{
    color: #e87373e8!important;
}
.orlike-loading {
    display: block;
    height: 39px;
    width: 10px!important;
    border-radius: 50%;
    border: 2px solid #acacac;
    border-bottom-color: transparent;
    -webkit-animation: orlike-loadingRotate 0.75s linear infinite;
    animation: orlike-loadingRotate 0.75s linear infinite;
}
@-webkit-keyframes orlike-loadingRotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes orlike-loadingRotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
