<%
let author = theme.article.body.meta_library.author;
let aid = post.author;
if (aid && site.data && site.data.author && (aid in site.data.author)) {
  author = site.data.author[aid];
}
%>
<div class='new-meta-item author p-author h-card' itemprop="author" itemscope itemtype="http://schema.org/Person">
  <a itemprop="url" class='author u-url' href="<%- author.url %>" rel="nofollow">
    <img itemprop="image" class="u-photo" no-lazy src="<%- author.avatar %>" alt="Author">
    <p itemprop="name" class="p-name"><%- author.name %></p>
  </a>
</div>
