<%
  let path = post.path || page.path;
  let commentPath;
  if (theme.comments.service && theme.comments.service.length > 0) {
    let service = theme.comments.service;
    if (page.comments == undefined || page.comments != false) {
      if (service in page && page[service].path) {
        commentPath = page[service].path;
      }
    }
  }

  if(commentPath) path = commentPath;
  path = path.replaceAll('/index.html', '/').replaceAll('.html', '')

  let checkComment = false;
  if ((theme.comments.service=='waline' && theme.comments.waline.pageview)
    || (theme.comments.service=='twikoo' && theme.comments.twikoo.visitor)
    || (theme.comments.service=='discuss' && theme.comments.discuss.visitStat)
    || (theme.comments.service=='artalk' && theme.comments.artalk.visitor)) {
    checkComment = !checkComment;
  } 
%>

<% if(checkComment || theme.plugins.busuanzi.enable) { %>
<div class="new-meta-item browse">
  <a class='notlink'>
    <p>
      <i class="<%- theme.article.body.meta_library.counter.icon %> fa-fw" aria-hidden="true"></i>
      <% if (theme.comments.service=='waline' && theme.comments.waline.pageview && !!page.comments) { %>
      <span data-path="<%- url_for(path) %>" class="waline-pageview-count">
        <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } else if (theme.comments.service=='twikoo' && theme.comments.twikoo.visitor && !!page.comments) { %>
      <span id="twikoo_visitors">
        <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } else if (theme.comments.service=='discuss' && theme.comments.discuss.visitStat && !!page.comments) { %>
      <span id="Discuss-Visitors">
        <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } else if (theme.comments.service=='artalk' && theme.comments.artalk.visitor && !!page.comments) { %>
      <span id="artalk_visitors" data-page-key="<%- url_for(path) %>">
        <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } else if (theme.plugins.busuanzi.enable) { %>
      <span id="busuanzi_value_page_pv">
        <i class="fa-solid fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span>
      <% } %>  
      <span><%- theme.article.body.meta_library.counter.unit %></span>
    </p>
  </a>
</div>
<% } %>
