.DS_Store
Thumbs.db
db.json
package-lock.json
yarn.lock
*.log
node_modules/
/public*/
.deploy*/
.idea/
_multiconfig.yml
_config.butterfly.yml
_config.yml
_config.landscape.yml
gulpfile.js
sw-rules.js
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*