#loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")')
    .loading-left-bg
    .loading-right-bg
    .scarecrow
        .scarecrow__hat
            .scarecrow__ribbon
        .scarecrow__head
            .scarecrow__eye
            .scarecrow__eye
            .scarecrow__mouth
            .scarecrow__pipe
        .scarecrow__body
            .scarecrow__glove.scarecrow__glove--l
            .scarecrow__sleeve.scarecrow__sleeve--l
            .scarecrow__bow
            .scarecrow__shirt
            .scarecrow__coat
            .scarecrow__waistcoat
            .scarecrow__sleeve.scarecrow__sleeve--r
            .scarecrow__glove.scarecrow__glove--r
            .scarecrow__coattails
            .scarecrow__pants
        .scarecrow__arms
        .scarecrow__leg

script.
    const preloader = {
        endLoading: () => {
            document.body.style.overflow = 'auto';
            document.getElementById('loading-box').classList.add("loaded")
        },
        initLoading: () => {
            document.body.style.overflow = '';
            document.getElementById('loading-box').classList.remove("loaded")

        }
    }
    window.addEventListener('load',()=> { preloader.endLoading() })

    if (!{theme.pjax && theme.pjax.enable}) {
        document.addEventListener('pjax:send', () => { preloader.initLoading() })
        document.addEventListener('pjax:complete', () => { preloader.endLoading() })
    }