#loading-box(onclick='preloader.endLoading()')
    .loader-wrapper
        .container
            .circle
            .circle
            .circle
        #preload
            span
            span
            span
            span
            span
            span

script.
    const preloader = {
        endLoading: () => {
            document.body.style.overflow = 'auto';
            document.getElementById('loading-box').classList.add("loaded")
            setTimeout(() => {
                document.getElementById('loading-box').style.display = "none"
            }, 1000);
        },
        initLoading: () => {
            document.body.style.overflow = '';
            document.getElementById('loading-box').style.display = "block"
            document.getElementById('loading-box').classList.remove("loaded")

        }
    }
    window.addEventListener('load',()=> { preloader.endLoading() })

    if (!{theme.pjax && theme.pjax.enable}) {
        document.addEventListener('pjax:send', () => { preloader.initLoading() })
        document.addEventListener('pjax:complete', () => { preloader.endLoading() })
    }