// 自定义 Note
div.note
  // 外星人
  &.alien::before
    content: '\f8f5'
  
  // 怪物
  &.alien-monster::before
    content: '\f8f6'

  // 蝙蝠
  &.bat::before
    content: '\f6b5'
  
  // 铃铛
  &.bell::before
    content: '\f0f3'

  // 生化病毒
  &.biohazard::before
    content: '\f780'
  
  // 大笑 - 眨眼
  &.laugh-wink::before
    content: '\f59c'
  
  // 懒洋洋的头
  &.poo::before
    content: '\f2fe'