.card-clock-weather #weather{
    width:100%;
    height:150px;
    margin:0px;
    padding:0px;
    background: url(https://dq.pl.blog.sinzmise.top/api/ipcard/img.php) no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}
[data-theme="dark"] .card-clock-weather #weather{
    background: url(https://dq.pl.blog.sinzmise.top/api/ipcard/img-dark.php) no-repeat;
}