if hexo-config('custom_css.body.highlight.language') == true
  .hljs,.highlight
    &:before
      position: absolute
      top: 0
      right: 0
      color: var(--color-meta)
      font-size: 13px
      padding: 4px 8px
      z-index 1
    &.md:before,&.markdown:before
      content: "md"
    &.yaml:before
      content: "YAML"
    &.json:before
      content: "JSON"

    &.html:before
      content: "HTML"
    &.js:before,&.javascript:before
      content: "JS"
    &.css:before
      content: "CSS"
    &.less:before
      content: "Less"
    &.stylus:before
      content: "Stylus"

    &.bash:before
      content: "Bash"
    &.shell:before
      content: "Shell"
    &.sh:before
      content: "Shell"
    &.ini:before
      content: "Ini"

    &.c:before
      content: "C"
    &.cpp:before
      content: "C++"
    &.objc:before,&.objectivec:before
      content: "Objective-C"
    &.swift:before
      content: "Swift"

    &.java:before
      content: "Java"
    &.python:before
      content: "Python"
    &.php:before
      content: "PHP"
    &.rust:before
      content: "Rust"
    &.sql:before
      content: "SQL"
    &.ruby:before
      content: "Ruby"
    &.makefile:before
      content: "Makefile"
    &.go:before
      content: "Go"
    &.typescript:before
      content: "TypeScript"
    
    &.plaintext:before
      content: "Code"
    &.conf:before
      content: "Conf"
    &.toml:before
      content: "Toml"
    &.properties:before
      content: "Properties"
    &.xml:before
      content: "XML"
    
    &.powershell:before
      content: "powershell"