if theme.hometop.enable && theme.hometop.link
    .hometop
        .hometop-1
            ul
                each links in theme.hometop.link
                    li
                        a(href=url_for(links.link))
                            img(alt=links.title src=url_for(links.image))
                            h2=links.title
        .hometop-2
            ul
        .hometop-3
            span.prev <
            span.next >
        script(data-pjax src="/js/hometop.js")