extends includes/layout.pug

block content
  #post.h-entry
    if top_img === false
      include includes/header/post-info.pug
    if theme.post_head_ai_description
      include includes/ai-info.pug
    article#article-container.post-content.e-content!=page.content
    if (theme.orlike.enable)
      #orlike-box.orlike-box
        script.
          (() => {
            function loadOrLike() {
              new OrLike({
                serverUrl: "!{theme.orlike.serverurl}",
                el: ".orlike-box",
                days: 30,
              });
            }

            window.pjax ? loadOrLike() : window.addEventListener('load', loadOrLike)
          })()

    include includes/post/post-copyright.pug
    .tag_share
      if (theme.post_meta.post.tags)
        .post-meta__tag-list
          each item, index in page.tags.data
            a(href=url_for(item.path)).post-meta__tags.p-category #[=item.name]
      include includes/third-party/share/index.pug
        
    if theme.reward.enable && theme.reward.QR_code
      !=partial('includes/post/reward', {}, {cache: true})

    //- ad
    if theme.ad && theme.ad.post
      .ads-wrap!=theme.ad.post

    if theme.post_pagination
      include includes/pagination.pug
    if theme.related_post && theme.related_post.enable
      != related_posts(page,site.posts)

    if page.comments !== false && theme.comments && theme.comments.use
      - var commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache: true})