/* 顶栏图标 */
#page-header #nav a .icon,#sidebar-menus .menus_items .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/* 导航栏居中 */
#nav-right{
    flex:0 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}
/* 子菜单横向布局 */
.menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
    /*
      left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
    改为：*/
    left:50%;
    translate:-50%;
}
/* 顶栏常驻 */
.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}
/* 魔改顶部menu */
.menus_item .site-page{
    font-size:17px!important
}
.menus_item_child .site-page{
    font-size:15px!important
}
#nav .menus_items .menus_item .menus_item_child li{
    margin: -3px 2px 1px;
    -webkit-transition: all 0.2s;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}
#nav .menus_items .menus_item .menus_item_child li a{
    padding: 0px 5px!important;
}

#travellings {
    padding: 0;
}

#sidebar #sidebar-menus .menus_items .menus_item {
    margin: 10px 0;
}
#sidebar #sidebar-menus .menus_items a.site-page {
    padding-left: 0;
}
#sidebar #sidebar-menus .menus_items .site-page {
    position: relative;
    display: block;
    padding: 6px 30px 6px 22px;
    color: var(--font-color);
    font-size: 1.15em;
    border: var(--style-border-always);
    background: var(--heo-card-bg);
    font-size: 14px;
    border-radius: 12px;
}
#sidebar #sidebar-menus .menus_items .site-page i:first-child {
    text-align: left;
    padding-left: 10px;
}

#sidebar #sidebar-menus .menus_items .menus_item_child {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
#sidebar #sidebar-menus .menus_items a.site-page, #sidebar .menus_item ul {
    padding-left: 0;
}
#sidebar #sidebar-menus .menus_item_child li {
    width: calc(50% - 8px);
    margin: 4px;
}
#sidebar #sidebar-menus .menus_item_child .site-page.child {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    border: var(--style-border-always);
    background: var(--heo-card-bg);
    font-size: 14px;
}
#nav.hide-menu #toggle-menu {
    padding: 0;
}
#sidebar #sidebar-menus .icat_menus_item .site-page {
    text-align: center;
    margin: 4px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 8px 0;
    border-radius: 12px;
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    #sidebar #sidebar-menus .menus_items .site-page.group > i:last-child {
        margin-top: 4px;
    }
    #sidebar #sidebar-menus .menus_items .icat_menus_item .site-page i:first-child {
        text-align: center;
        padding-left: 0;
    }
}
/* 子菜单美化 */

#sidebar .open > .avatar-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#sidebar .open > .avatar-img img {
    border: 5px #fff solid;
}
#sidebar .open > .avatar-img::before {
    height: 12px;
    width: 12px;
}
#sidebar .open > .avatar-img::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(65%);
    background: #6bdf8f;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: filter 375ms ease-in .2s,transform .3s;
    z-index: 2;
}
/* 头像美化 */

#sidebar #sidebar-menus .sidebar-site-data {
    padding: 0;
    margin-left: 10px;
    background: var(--heo-card-bg);
    border-radius: 12px;
    border: var(--style-border-always);
}
@media screen and (max-width: 768px) {
    .site-data {
        width: 94%;
    }
}

#nav #menus {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
    transform: translateZ(0);
}
#nav #blog-info {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    z-index: 102;
    max-width: fit-content;
}
@media screen and (max-width: 900px) {
    #nav {
        padding: 0 15px;
    }
    #nav-group {
        padding: 0 0.2rem;
    }
    #rightside {
        right: -42px;
    }
}

/* 波浪css */
.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 5;
}
.waves-area .waves-svg {
    width: 100%;
    height: 5rem;
}
/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #f7f9febd;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #f7f9fe82;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #f7f9fe36;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #18171d;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves-area .waves-svg {
        height: 40px;
        min-height: 40px;
    }

    .icat-license {
        position: relative;
        line-height: 1.2;
        font-size: 1rem;
        background: var(--heo-card-bg);
        color: var(--heo-fontcolor);
        overflow: hidden;
        border: var(--style-border);
        display: block;
        padding: 1rem 1.3rem;
        margin: 1.5rem 0 0.5rem;
        border-radius: 12px
    }

    .icat-license:after {
        position: absolute;
        content: "\e039";
        font-size: 210px;
        font-family: "iconfont";
        color: var(--heo-fontcolor);
        opacity: 0.1;
        filter: blur(6px);
        height: 210px;
        width: 210px;
        right: -40px;
        top: -80px;
    }

    @media screen and (max-width: 768px) {
        .icat-license:after {
            top: auto;
            bottom: -40px;
        }
    }

    .icat-license a {
        color: var(--heo-fontcolor);
        border-radius: 6px;
        transition: .5s;
    }

    .icat-license a:hover {
        color: var(--heo-white);
        background: var(--heo-blue);
        padding: 0 4px;
    }

    .icat-license .icat-license-link a {
        opacity: .6;
    }

    .icat-license .icat-license-link a:hover {
        opacity: 1;
    }

    .icat-license-title {
        font-size: 18px;
        font-weight: 600;
    }

    .icat-license-meta-title, .icat-license-title {
        margin: 0 0 .25rem
    }

    .icat-license-link, .icat-license-meta-title {
        font-size: .8rem
    }

    .icat-license-link {
        color: #7a7a7a;
        font-size: .9rem
    }

    .icat-license-meta {
        margin-top: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap
    }

    .icat-license-meta-item {
        margin: 0 2rem 1em 0
    }

    .icat-license-meta-text {
        margin: 0
    }

    .icat-license-tips {
        font-size: .95rem;
    }
}

    /* 版权样式 */

#home_top {
    max-width: 1500px;
    margin: auto;
    margin-top: .5rem;
    padding: 0px 1.0rem;
    width: 100%;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    #home_top {
        padding:0;
        margin-top: 0
    }
}

.recent-top-post-group {
    border-radius: 12px;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 0
}

.recent-post-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    border: 5px solid var(--story-border)
}

.recent-post-top::-webkit-scrollbar {
    display: none
}

.recent-post-top .recent-post-item {
    display: flex;
    width: 180px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    background: var(--bywind-card-bg);
    border-radius: 12px;
    overflow: hidden;
    min-width: 180px;
    height: 164px;
    max-height: 164px;
    border: var(--style-border-always);
    transition: .3s;
    position: relative;
    box-shadow: var(--bywind-shadow-border)
}

@media screen and (max-width: 768px) {
    .recent-post-top .recent-post-item {
        border-radius:8px;
        box-shadow: none;
        clip-path: inset(0 0 0 0 round 8px)
    }

    .recent-post-top .recent-post-item {
        margin-right: 2rem;
        margin-bottom: 1rem
    }
}

@media screen and (min-width: 1300px) {
    .recent-post-top .recent-post-item {
        margin-right: 10px;
        margin-bottom: .5rem;
    }

    .recent-post-top .recent-post-item:active {
        transform: scale(.97)
    }

    .recent-post-top {
        overflow-x: visible;
        border: none;
    }

    .recent-top-post-group {
        overflow: visible;
        overflow-x: visible
    }
}

span.recent-post-top-text {
    position: absolute;
    top: 0;
    left: -40px;
    display: flex;
    z-index: 1;
    background: var(--bywind-theme);
    color: var(--bywind-white);
    padding: 2px 8px;
    font-size: .6rem;
    border-radius: 12px 0 12px 0;
    transition: .3s;
    cursor: pointer
}

.recent-post-item:hover .recent-post-top-text {
    left: 0
}

@media screen and (min-width: 1300px) {
    .recent-post-top .recent-post-item:hover {
        border:var(--style-border-hover);
        box-shadow: var(--bywind-shadow-main);
        transform: scale(1.03)
    }

    .recent-post-top .recent-post-item:active {
        transform: scale(.97)
    }
}

@media screen and (max-width: 768px) {
    .recent-top-post-group {
        border-radius:0;
        background: var(--bywind-background)
    }

    .recent-post-top-text {
        display: none!important
    }

    .recent-post-top .recent-post-item .post_cover img {
        border-radius: 8px 8px 0 0!important
    }
}

.recent-post-top .recent-post-item .post_cover a {
    height: 100px;
    overflow: hidden;
    display: flex
}

.recent-post-top .recent-post-item .post_cover img {
    object-fit: cover;
    width: 100%;
    background: var(--bywind-secondbg);
    border-radius: 12px 12px 0 0
}

.recent-post-top .recent-post-item:hover .post_cover img {
    transform: scale(1)
}

.recent-post-top .recent-post-item .recent-post-info {
    padding: .3rem .5rem .3rem .5rem!important;
    transition: .3s
}

.recent-post-top .recent-post-item:hover .recent-post-info a {
    color: var(--bywind-fontcolor)
}

@media screen and (max-width: 1300px) {
    .recent-post-top .recent-post-item:hover .recent-post-info a {
        color:var(--bywind-theme);
        transition: .3s
    }
}

.recent-post-top .recent-post-item .recent-post-info .article-title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: .5rem;
    font-weight: 700;
    font-size: .8rem!important;
    padding: 0!important
}

.categoryItem {
    overflow: hidden;
    transform: scale(1);
    transition: all 0.8s cubic-bezier(0.65, 0.15, 0.37, 1.19);
    height: 48%;
    border-radius: 12px;
}

a.categoryButton {
    height: 100%;
    width: 100%;
    background: var(--bywind-card-bg);
    border-radius: 12px;
    display: inline-block;
    text-align: left;
    line-height: 4em;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--bywind-white);
    transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
    transform: scale(1);
    overflow: hidden;
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei;
}

a.categoryButton i {
    transform: scale(1.0) rotate(15deg);
}

@media screen and (min-width: 1300px) {
    a.categoryButton:active {
        transform: scale(0.97);
    }
}

@media screen and (max-width: 768px) {
    a.categoryButton {
        border-radius: 8px;
    }

    .categoryItem {
        border-radius: 0px;
        height: 47%;
        box-shadow: none !important;
    }
}

a.categoryButton:after {
    top: 50px;
    width: 1rem;
    left: 21px;
    height: 2px;
    background: var(--bywind-white);
    content: "";
    border-radius: 1px;
    position: absolute;
}

.categoryButtonText {
    padding-left: 21px;
}

a.categoryButton i {
    font-size: 5rem;
    opacity: 0.2;
    position: absolute;
    right: 0%;
    top: 20%;
    transition: 0.3s;
    width: 100px;
    text-align: center;
    filter: blur(2px);
}

@media screen and (max-width: 768px) {
    a.categoryButton i {
        display: none;
    }

    .recent-post-top .categoryGroup {
        min-width: 130px !important;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        max-height: 164px;
        overflow: hidden;
        position: relative;
    }
}

.topGroup {
    display: flex;
}

#bannerGroup {
    display: flex;
    padding-top: 5px;
}

div#banners {
    display: none;
}
.topGroup .todayCard {
    display: none;
}
@media screen and (min-width: 1300px) {
    .topGroup {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: calc(328px + 0.5rem);
        align-content: space-between;
        width: calc(600px + 1.5rem);
        position: relative;
    }

    div#bannerGroup {
        width: calc(100% - 600px - 2rem);
        margin-right: 0.5rem;
        height: calc(328px + 0.5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    div#banners {
        display: flex;
        width: 100%;
        height: 76%;
        background: var(--bywind-card-bg);
        margin-bottom: 0.5rem;
        border: var(--style-border);
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        box-shadow: var(--bywind-shadow-border);
        flex-direction: column;
        overflow: hidden;
        transition: 0.3s;
        clip-path: inset(0 0 0 0 round 12px);
    }

    div#banners:hover {
        box-shadow: var(--bywind-shadow-main);
    }

    #banners.flink {
        margin-bottom: 0.5rem;
    }

    #banners .banner-button-group {
        position: absolute;
        right: 2rem;
        top: 2rem;
        display: flex;
    }

    #banners .banner-button {
        padding: 8px 12px;
        background: var(--bywind-fontcolor);
        border-radius: 12px;
        color: var(--bywind-card-bg);
        display: flex;
        align-items: center;
        z-index: 1;
        transition: 0.3s;
        cursor: pointer;
        box-shadow: var(--bywind-shadow-black);
    }

    #banners .banner-button.secondary {
        background: var(--bywind-secondbg);
        border: var(--style-border-always);
        color: var(--bywind-lighttext);
        margin-right: 1rem;
        box-shadow: var(--bywind-shadow-border);
    }

    #banners .banner-button:hover {
        background: var(--bywind-theme);
        color: var(--bywind-white);
    }

    #banners .banner-button i {
        margin-right: 8px;
        font-size: 1rem;
    }

    .banners-title {
        top: 2rem;
        left: 1.5rem;
        position: absolute;
        display: flex;
        flex-direction: column;
    }


    .banners-title-big {
        font-size: 36px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .banners-title-small {
        font-size: 12px;
        line-height: 1;
        color: var(--bywind-secondtext);
        margin-top: 8px;
        margin-bottom: 0.5rem;
    }

    #banner-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--bywind-theme);
        color: var(--bywind-white);
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: cubic-bezier(0.71, 0.15, 0.16, 1.15) 0.6s;
    }

    .bannerText {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: bold;
    }

    .banner-righticon {
        font-size: 4rem;
        opacity: 0.6;
    }

    #banners:hover #banner-hover {
        opacity: 1;
        padding-left: 2rem;
        background: var(--story-theme);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        transition: 0.3s;
        background-size: 200%;
        cursor: pointer;
    }
    #banners #banner-hover i {
        font-size: 80px;
        opacity: 0.4;
    }

    .topGroup .todayCard {
        position: absolute;
        width: calc(600px + 1rem);
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        background: var(--bywind-card-bg);
        border-radius: 12px;
        margin-left: 0.5rem;
        overflow: hidden;
        transition: 0.3s;
        display: flex;
        cursor: pointer;
        pointer-events: all;
    }

    .topGroup .todayCard::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .topGroup .todayCard.hide {
        opacity: 0;
        pointer-events: none;
    }

    .topGroup .todayCard .todayCard-info {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        z-index: 2;
        color: var(--bywind-white);
        max-width: 60%;
        transition: 0.3s;
    }

    .topGroup .todayCard.hide .todayCard-info {
        bottom: 1rem;
        opacity: 0;
    }

    .topGroup .todayCard .todayCard-info .todayCard-tips {
        opacity: 0.8;
        font-size: 0.6rem;
    }

    .topGroup .todayCard .todayCard-info .todayCard-title {
        font-size: 28px;
        font-weight: bold;
        line-height: 36px;
    }

    .topGroup .banner-button-group {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        display: flex;
        transition: 0.3s;
    }

    .topGroup .todayCard.hide .banner-button-group {
        bottom: 1rem;
    }

    .topGroup .banner-button {
        background: var(--bywind-white-op);
        border-radius: 20px;
        color: var(--bywind-white);
        display: flex;
        align-items: center;
        z-index: 1;
        transition: 0.3s;
        cursor: pointer;
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-backdrop-filter: blur(20px);
        transform: translateZ(0);
        height: 40px;
        width: 118px;
        justify-content: center;
    }

    .topGroup .banner-button:hover {
        background: var(--bywind-theme);
        color: var(--bywind-white);
    }

    .topGroup .banner-button i {
        margin-right: 8px;
        font-size: 22px;
    }

    .topGroup .todayCard .todayCard-cover {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: -1;
        transition: 0.3s;
    }

    .topGroup .todayCard.hide .todayCard-cover {
        transform: scale(1.2);
    }
}
.tags-group-icon {
    width: 120px;
    height: 120px;
    border-radius: 30px
}

.tags-group-all {
    display: flex;
    transform: rotate(-30deg)
}

.tags-group-all.nowrapMove {
    transform: rotate(0);
    padding-bottom: 2rem
}

.tags-group-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-wrap: nowrap;
    animation: rowup 60s linear infinite
}

.nowrapMove .tags-group-wrapper {
    margin-top: 7rem;
    animation: rowup 120s linear infinite
}

.tags-group-icon-pair .tags-group-icon:nth-child(even) {
    margin-top: 1rem;
    transform: translate(-60px)
}

.tags-group-icon-pair {
    margin-left: 1rem
}

.tags-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    box-shadow: var(--bywind-shadow-blackdeep)
}

.nowrapMove .tags-group-icon {
    border-radius: 50%
}

.tags-group-icon img {
    width: 60%
}
.nowrapMove .tags-group-icon img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    object-fit: cover
}

.categoryItem:hover i {
    opacity: .8;
    transition: .8s;
    transition-delay: .15s;
    transform: scale(1.03) rotate(0);
    font-size: 2.5rem;
    filter: blur(0)
}

@media screen and (min-width: 1300px) {
    .categoryItem:hover i {
        transform:scale(1.03) rotate(0)
    }
}

.cate-button-text {
    box-shadow: var(--bywind-shadow-black)
}

.recent-post-top .categoryGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px
}

.categoryGroup .categoryItem:nth-child(3) {
    display: none
}

@media screen and (min-width: 1300px) {
    .recent-post-top .categoryGroup {
        flex-direction:row;
        height: 24%
    }

    .categoryItem {
        width: calc(100% / 3 - .33rem);
        height: 100%;
        margin-right: .5rem
    }

    .categoryItem:last-child {
        margin-right: 0
    }

    .categoryItem:hover {
        width: 50%
    }

    .categoryGroup .categoryItem:nth-child(3) {
        display: flex
    }
}

a.categoryButton.blue {
    background: linear-gradient(to right,#358bff,#15c6ff);
    background-size: 200%
}

a.categoryButton.red {
    background: linear-gradient(to right,#f65,#ffbf37);
    background-size: 200%
}

a.categoryButton.green {
    background: linear-gradient(to right,#18e7ae,#1eebeb);
    background-size: 200%
}

[data-theme=dark] a.categoryButton.blue {
    background: linear-gradient(to right,#0653b8,#2fcbff);
    background-size: 200%
}

[data-theme=dark] a.categoryButton.red {
    background: linear-gradient(to right,#e22a16,#da980c);
    background-size: 200%
}

[data-theme=dark] a.categoryButton.green {
    background: linear-gradient(to right,#099e74,#0ea4a4);
    background-size: 200%
}

a.categoryButton:hover {
    background-position: 100% 0;
    color: var(--bywind-ahoverbg);
}
@keyframes rowup {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}
#recent-post-top .recent-post-item .post_cover {
    width: 100%;
}
.topgroups {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: calc(328px + 0.5rem);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

#owo-big {
    position: fixed;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px #aaa solid;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    transform: translate(0, -105%);
    overflow: hidden;
    animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
    background-color: #4a4a4a
}

#owo-big img {
    width: 100%;
}

/* 动画效果代码由 Heo：https://blog.zhheo.com/ 提供 */
@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0;
    }
    100% {
        transform: translate(0, -105%);
        opacity: 1;
    }
}
.card-info.fixed-card-widget:not(#card-toc){
    height: 35.5%;
}
.card-clock.fixed-card-widget:not(#card-toc){
    height: 22.5%;
}
.card-webinfo.fixed-card-widget:not(#card-toc){
    height: 25.5%;
}
#page:has(#icat_page) {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;
}
/* page背景调整 */

.icat-content.icat-content-item.icatPage {
    height: 19rem;
    color: var(--bywind-white);
    overflow: hidden;
    margin-top: 0;
    border-radius: 12px;
    border: var(--style-border-always);
    box-shadow: var(--bywind-shadow-border);
}
.icat-content-item .icat-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.icat-content-item .icat-content-item-tips {
    opacity: .8;
    font-size: .6rem;
    margin-bottom: .5rem;
}
.icat-content-item .icat-card-content .icat-content-item-title {
    margin-bottom: .5rem;
}
.icat-content-item .icat-content-item-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}
.icat-content-item .icat-content-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icat-content-item .icat-content-bottom .icat-tips {
    font-weight: bold;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icat-content-item .icat-card-content .icat-change-button-group .icat-change-button {
    height: 40px;
    width: auto;
    padding: 0 22px;
    border-radius: 20px;
    justify-content: center;
    background: var(--bywind-white);
    color: var(--bywind-black);
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateZ(0);
    box-shadow: 0 8px 16px -4px var(--bywind-black-op);
}
.icat-content-item .icat-card-content .icat-change-button-group .icat-change-button i {
    margin-right: 4px;
    font-weight: bold;
}
#page:has(#icat_page) .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button:hover {
    background: var(--bywind-blue);
    color: var(--bywind-white);
}

@media screen and (max-width: 768px) {
    .icat-content-item .icat-card-content {
        padding: 1rem 1rem;
    }
    .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button {
        width: 60px;
    }
    .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button i {
        margin-right: -3px;
    }
    .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button-text {
        display: none;
    }
}
/* 响应式 */

/* icat-page顶部样式 */

#comments-page {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    min-height: 100px;
    width: 100%;
    margin-top: 1.5rem;
}
#comments-page .comment-card {
    position: relative;
    width: calc(100% / 4 - 9px);
    border-radius: 12px;
    border: var(--style-border);
    padding: 14px;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    box-shadow: var(--icat-shadow-border);
    background: var(--icat-card-bg);
}
@media screen and (max-width: 900px) {
    #comments-page .comment-card {
        width: calc(100% / 2 - 6px);
    }
}
@media screen and (max-width: 768px) {
    #comments-page .comment-card {
        width: 100%;
    }
}
#comments-page .comment-card:hover {
    border-color: var(--icat-blue);
}
#comments-page .comment-card:hover .comment-article {
    opacity: 1;
    top: 0;
}
#comments-page .comment-card .comment-info {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    margin-bottom: 8px;
    border-bottom: 1px dashed var(--hr-border);
}
#comments-page .comment-card .comment-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 !important;
}
#comments-page .comment-card .comment-info .comment-information {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    line-height: 1.5;
}
#comments-page .comment-card .comment-info .comment-information .comment-user {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}
#comments-page .comment-card .comment-info .comment-information .comment-author::after {
    content: "\e04f";
    font-family: "iconfont" !important;
    padding-left: 6px;
    font-size: 14px;
    color: var(--icat-green);
}
[data-theme="dark"] #comments-page .comment-card .comment-info .comment-information .comment-author::after {
    color: var(--icat-blue);
}
#comments-page .comment-card .comment-info .comment-information .comment-time {
    opacity: .8;
    font-size: 12px;
}
#comments-page .comment-card .comment-info .comment-content {
    margin: 8px 5px 0;
}
.comment-content, .comment-article {
    transition: .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.7;
    font-weight: 400;
}
.comment-article {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: var(--icat-blue);
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    opacity: 0;
    text-align: center;
}

/* 最新评论页面样式 */

.addBtns{
    display: flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
}
.addBtn{
    margin: 0 auto !important;
}