#loading-box.loaded
  .loader-wrapper
    animation-duration 1s
    animation-name loaded
    animation-iteration-count 1

.loader-wrapper
  position fixed
  left 0
  top 0
  animation-duration 1s
  animation-name loading
  animation-iteration-count 1
  z-index 1001
  width 100%
  height 100%
  overflow hidden
  background linear-gradient(45deg,rgb(90,54,148) 0%,rgb(19,189,206) 33%,rgb(0,148,217) 66%,rgb(111,199,181) 100%)
  background-size 400%
  background-position 0% 100%
  animation gradient 7.5s ease-in-out infinite
  .container
    position relative
    width 100%
    display flex
    justify-content center
    align-items center
    top 45%
    .circle
      position relative
      width 150px
      height 150px
      border-radius 50%
      border 5px solid transparent
      margin -30px
      border-top 5px solid var(--c)
      animation var(--a) 3s linear infinite
      &::before
        content ""
        position absolute
        top 12px
        right 12px
        width 15px
        height 15px
        background-color var(--c)
        border-radius 50%
        box-shadow 0 0 5px var(--c),
        0 0 10px var(--c),
        0 0 20px var(--c),
        0 0 40px var(--c),
        0 0 80px var(--c)
      &:nth-child(3)
        position absolute
        top -66.66px
        --c lightgreen
        --a animate2
        border-top 5px solid transparent
        border-left 5px solid var(--c)
        animation-delay -2s
      &:nth-child(2)
        --c lightsalmon
        --a animate2
        border-top 5px solid transparent
        border-left 5px solid var(--c)
        animation-delay -0.5s
      &:nth-child(1)
        --c lightskyblue
        --a animate1
  #preload
    width 100%
    height 36px
    position absolute
    top 72%
    left 50%
    transform translateX(-50%)
    z-index 3
    user-select none

#loading-box .loader-wrapper .container .circle:nth-child(3):before,
#loading-box .loader-wrapper .container .circle:nth-child(2):before
  top initial
  left 12px
  bottom 12px

#preload
  span
    display block
    bottom 45%
    height 10px
    width 10px
    position fixed
    background #f0f0f0
    z-index 1001
    display inline-block
    margin 0 2px
    border-radius 100%
    animation loader 5s infinite cubic-bezier(0.030, 0.615, 0.995, 0.415)
    transform translate(-50%,-50%)
    opacity 0
    &:nth-child(1)
      animation-delay 0.5s
    &:nth-child(2)
      animation-delay 0.4s
    &:nth-child(3)
      animation-delay 0.3s
    &:nth-child(4)
      animation-delay 0.2s
    &:nth-child(5)
      animation-delay 0.1s
    &:nth-child(6)
      animation-delay 0

@keyframes gradient
  50%
    background-position: 100% 0%

@keyframes animate1
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes animate2
  0%
    transform: rotate(360deg)


  100%
    transform: rotate(0deg)

@keyframes loader
  1%
    left: -10%
    opacity: 1

  60%
    left: 110%
    opacity: 1

  61%
    opacity: 0

@keyframes loading
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes loaded
  0%
    opacity: 1

  100%
    opacity: 0
    z-index: -1000

